*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
}

.container{
    text-align: center;
    margin-top: 40px;
}

h1{
    color: #697077ff;
    font-size: 36px;
    font-weight: 300; 
}

h2{
    color: #2d314d;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 10px;
}

p{
    font-size: 15px;
    color: #4c4e61ff;
    line-height: 1.5;
}

.cards{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.middle{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card{
    width: 340px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.08);
    border-top: 5px solid;
    text-align: left;
}

.card img{
    float: right;
    margin-top: 20px;
}

.supervisor{
    border-color: hsl(180, 62%, 55%);
}

.team{
    border-color: hsl(0, 78%, 62%);
}

.karma{
    border-color: hsl(34, 97%, 64%);
}

.calculator{
    border-color: hsl(212, 86%, 64%);
}

.attribution{
    margin-top: 50px;
    font-size: 11px;
    text-align: center;
}