@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins, sans-serif;
    background-color: #FAFAFA;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
h1{
    color: #697077ff;
    font-size: 36px;
    font-weight: 300;
    
}
h2{
    color: black;
    font-size: 34px;
    font-weight: 600;
    padding-bottom: 10px;
}
p{
    font-size: 15px;
    color: #4c4e61ff;
    line-height: 1.5;
    text-align: center;
}
.cards{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 30px;
    
}
.card{
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.08);
    border-top: 5px solid transparent;
    transition: transform 0.3s ease;
    width: 350px;
     position: relative;
}
.team{
    margin-top: 50px;
    border-color: #ea5353ff;
}
.karma{
    margin-top: 50px;
    border-color: #fcaf4aff;
}
.calculator{
    margin-top: 50px;
    border-color: hsl(180, 62%, 55%);
}
.supervisor{
    margin-top: 50px;
    border-color: #4ecca3ff;
}